body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: monospace;
    color: rgb(2, 14, 71);;
}

#sudoku-container{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#sudoku-board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 400px;
    width: 400px;
    background-color: rgb(2, 14, 71);;
    border: solid 3px rgb(2, 14, 71);;
}

.slot{
    box-sizing: content-box;
    position: relative;
    background-color: white;
    border: 1px solid rgb(2, 14, 71);;
    font-weight: 900;
    /* padding-top: calc(50% - 18px); */
    line-height: 200%;
    font-size: 150%;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
}

.thick-top{
    margin-top: 3px;
}
.thick-right{
    margin-right: 3px;
}
.thick-left{
    margin-left: 3px;
}
.thick-bottom{
    margin-bottom: 3px;
}

.selected-slot{
    background-color: rgb(139, 160, 230);
}

.observed-slot{
    background-color: rgb(212, 212, 212);
}

#buttons{
    display: flex;
    flex-direction: column;
    height: calc(50% - 150px);
    width: 400px;
    justify-content: space-around;
    /* align-items: center; */
}

.some-button{
    /* border: 2px solid rgb(2, 14, 71);; */
    border: 0px;
    background-color: inherit;
    font-family: monospace;
    font-size: 30px;
    transition: 1s;
    color: rgb(2, 14, 71);;
}

.some-button:hover{
    background-color: rgb(2, 14, 71);
    color: white;
    cursor: pointer;
}

.filled{
    background-color: rgb(0, 255, 0);
}

.unfilled{
    background-color: red;
}

#lower-buttons{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

#radio-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#radio-container label{
    position: relative;
    font-family: monospace;
    font-size: 20px;
    left: -20px;
    color: rgb(2, 14, 71);
}

label input{
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.checkmark{
    position: absolute;
    z-index: 0;
    left: 5px;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: inherit;
    border: 2px solid rgb(2, 14, 71);
    border-radius: 50%;
}

.inner{
    position: relative;
    left: 1px;
    top: 1px;
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transition: 500ms;
}



label input:checked+.checkmark .inner{
    background-color: rgb(2, 14, 71);
}

.pencil-slot{
    color: lightslategray;
    font-size: 5px;
    text-align: center;
    /* line-height: 3px; */
}


