body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#sudoku-board{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 500px;
    width: 500px;
    background-color: black;
    border: solid 3px black;
}

.slot{
    background-color: blanchedalmond;
    border: 1px solid black;
    font-weight: 900;
}

.thick-top{
    border-top: 3px solid black;
}
.thick-right{
    border-right: 3px solid black;
}
.thick-left{
    border-left: 3px solid black;
}
.thick-bottom{
    border-bottom: 3px solid black;
}

.selected-slot{
    background-color: rgb(139, 160, 230);
}

.observed-slot{
    background-color: rgb(212, 212, 212);
}